.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: #000f8f;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.header_title {
  text-align: center;
  font-size: 2.5vw;

  flex: 1;
}
.header_menu {
  display: flex;
  flex: 3;
  justify-content: space-around;
}
